<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squadtechs.markhor.foodapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".trader.activity_trader_order_details.ActivityTraderOrderDetails"></activity>
        <activity android:name=".customer.activity_customer_order_details.ActivityCustomerOrderDetails" />
        <activity android:name=".customer.activity_customer_select_address.ActivityCustomerSelectAddress" />
        <activity android:name=".customer.activity_cutomer_cart_items_details.ActivityCustomerCartItemsDetails" />
        <activity android:name=".customer.activity_customer_non_food_item_details.ActivityCustomerNonFoodItemDetails" />
        <activity android:name=".customer.activity_customer_edit_address.ActivityCustomerEditAddress" />
        <activity
            android:name=".trader.activity_trader_to_customer_chat_screen.ActivityTraderToCustomerChatScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_to_customer_chat_main.ActivityTraderToCustomerChatMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customer.activity_customer_to_trader_chat.ActivityCustomerToTraderChat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_edit_delivery_range_type.ActivityTraderEditDeliveryRangeType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_edit_company_logo.ActivityTraderEditCompanyLogo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_edit_non_food_company_details_first_screen.ActivityTraderEditNonFoodCompanyDetailsFirstScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_edit_company_timings.ActivityTraderEditCompanyTimings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_edit_food_company_details_first_screen.ActivityTraderEditFoodCompanyDetailsFirstScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity_customer_address.ActivityCustomerAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity_customer_add_address.ActivityCustomerAddAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_edit_profile.ActivityTraderEditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_change_password.ActivityTraderChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trader.activity_trader_main.ActivityTraderMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity_customer_change_password.ActivityCustomerChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity_customer_non_food_companies_details.ActivityCustomerNonFoodCompaniesDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity_customer_non_food_companies.ActivityCustomerNonFoodCompanies"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customer.activity_customer_edit_profile.ActivityCustomerEditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity_customer_food_company_details.ActivityCustomerFoodCompanyDetails"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity
            android:name=".trader.activity_pick_location.ActivityPickLocation"
            android:label="@string/title_activity_pick_location" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.activity_customer_main.ActivityCustomerMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customer.activity_phone_verification.ActivityPhoneVerification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.activity_company_type.ActivityCompanyType"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity_select.ActivitySelect"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".trader.activity_thank_you.ActivityThankyou"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.activity_delivery_details.ActivityDeliveryDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.activity_electronic_license.ActivityElectronicLicense"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.activity_company_timings.ActivityCompanyTimings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.activity_company_details.ActivityCompanyDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.trader_registration.ActivityTraderSignup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customer.customer_signup.ActivityCustomerSignup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".trader.trader_login.ActivityTraderLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".customer.customer_login.ActivityCustomerLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>