<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squadtechs.markhor.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customer.activity_customer_main.ActivityCustomerMain"></activity>
        <activity android:name=".customer.activity_phone_verification.ActivityPhoneVerification" />
        <activity android:name=".trader.ActivityAddNewDish" />
        <activity android:name=".trader.ActivityCompanyType" />
        <activity android:name=".activity_select.ActivitySelect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".trader.ActivityThankyou" />
        <activity android:name=".trader.ActivityDeliveryDetails" />
        <activity android:name=".trader.ActivityElectronicLicense" />
        <activity android:name=".trader.ActivityCompanyTimings" />
        <activity android:name=".trader.activity_company_details.ActivityCompanyDetails" />
        <activity android:name=".trader.trader_registration.ActivityTraderSignup" />
        <activity android:name=".customer.customer_signup.ActivityCustomerSignup" />
        <activity android:name=".trader.trader_login.ActivityTraderLogin" />
        <activity android:name=".customer.customer_login.ActivityCustomerLogin" />
    </application>

</manifest>